In [1]:
# from CaltransTab import *
import requests
import os
import numpy as np
import itertools
import time
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
abbreviations = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

51

In [2]:
county['ID'] = county['County'].str.replace(' ', '').str[:4]
county.head()

numbers = np.arange(0,10)
new_array = []

for id in county['ID']:
    for number in numbers:
        new_string = f"CA{id}{number}POP"
        new_array.append(new_string)

In [28]:
file_names = []
for i in new_array:
    file_name = f'cty_pop/{i}.xls'
    if os.path.isfile(file_name):
        #print(i)
        file_names.append(i)

file_names = sorted(list(set(file_names)))
county['FileName'] = file_names

In [29]:
percent_change = []
for i in county['FileName']:
    df = pd.read_excel(f'cty_pop/{i}.xls').iloc[41:]['Unnamed: 1'].reset_index(drop=True).to_frame().astype(float).rename(columns={'Unnamed: 1': 'Population'})
    df['% Change'] = df/(df.values[0]) - 1
    percent_change.append(df['% Change'].iloc[-1])

county['2001 to 2023'] = percent_change

In [ ]:
# 2 hour download

df = pd.read_excel('uscounties.xlsx')
numbers = np.arange(0,10)

for index, row in df.iloc[400:].iterrows():
    id = row['county'].replace(' ', '')[:4].upper()
    stateid = row['state_id']
    file_written = False
    for number in numbers:
        ID = f"{stateid}{id}{number}POP"
        params = {
        'bgcolor': '#e1e9f0',
        'chart_type': 'line',
        'drp': '0',
        'fo': 'open sans',
        'graph_bgcolor': '#ffffff',
        'height': '450',
        'mode': 'fred',
        'recession_bars': 'on',
        'txtcolor': '#444444',
        'ts': '12',
        'tts': '12',
        'width': '958',
        'nt': '0',
        'thu': '0',
        'trc': '0',
        'show_legend': 'yes',
        'show_axis_titles': 'yes',
        'show_tooltip': 'yes',
        'id': ID,
        'scale': 'left',
        'cosd': '1970-01-01',
        'coed': '2023-01-01',
        'line_color': '#4572a7',
        'link_values': 'false',
        'line_style': 'solid',
        'mark_type': 'none',
        'mw': '3',
        'lw': '2',
        'ost': '-99999',
        'oet': '99999',
        'mma': '0',
        'fml': 'a',
        'fq': 'Annual',
        'fam': 'avg',
        'fgst': 'lin',
        'fgsnd': '2020-02-01',
        'line_index': '1',
        'transformation': 'lin',
        'vintage_date': '2024-04-19',
        'revision_date': '2024-04-19',
        'nd': '1970-01-01',
        }

        response = requests.get('https://fred.stlouisfed.org/graph/fredgraph.xls', params=params)
        filename = f'cty_pop/{ID}.xls'
        if len(response.content) < 20 * 1024:
            # Write the response content to the file
            with open(filename, 'wb') as file:
                file.write(response.content)
            print(f'{filename} ok')
            file_written = True
            break
        else:
            print(f'Response content for {filename} was too large and was not saved.')
    if file_written:
        continue

In [38]:
NYua = ['NYNEWY', 'NYKING', 'NYBRON', 'NYRICH', 'NYQUEE',
        'NJHUDS', 'NJBERG', 'NJESSE', 'NJUNIO', 'NJMIDD',
        'NJMONM', 'NJOCEA', 'NJPASS', 'NJMORR', 'NJSOME',
        'CTFAIR', 'CTNEWH']

In [40]:
numbers = np.arange(0,10)
total_pop = []

for number in numbers:
    for cty in NYua:
        try:
            county_pop = pd.read_excel(f'cty_pop/{cty}{number}POP.xls')
            county_pop = county_pop.iloc[34:]['Unnamed: 1'].reset_index(drop=True).to_frame().astype(float).rename(columns={'Unnamed: 1': 'Population'})['Population']
            total_pop.append(county_pop.cumsum())
        except FileNotFoundError:
            print(f"File cty_pop/{cty}{number}POP.xls not found.")
            continue

File cty_pop/NYNEWY0POP.xls not found.
File cty_pop/NYKING0POP.xls not found.
File cty_pop/NYBRON0POP.xls not found.
File cty_pop/NYRICH0POP.xls not found.
File cty_pop/NYQUEE0POP.xls not found.
File cty_pop/NJHUDS0POP.xls not found.
File cty_pop/NJBERG0POP.xls not found.
File cty_pop/NJESSE0POP.xls not found.
File cty_pop/NJUNIO0POP.xls not found.
File cty_pop/NJMIDD0POP.xls not found.
File cty_pop/NJMONM0POP.xls not found.
File cty_pop/NJOCEA0POP.xls not found.
File cty_pop/NJPASS0POP.xls not found.
File cty_pop/NJMORR0POP.xls not found.
File cty_pop/CTFAIR0POP.xls not found.
File cty_pop/CTNEWH0POP.xls not found.
File cty_pop/NYKING1POP.xls not found.
File cty_pop/NYBRON1POP.xls not found.
File cty_pop/NYRICH1POP.xls not found.
File cty_pop/NJHUDS1POP.xls not found.
File cty_pop/NJBERG1POP.xls not found.
File cty_pop/NJESSE1POP.xls not found.
File cty_pop/NJUNIO1POP.xls not found.
File cty_pop/NJMIDD1POP.xls not found.
File cty_pop/NJMONM1POP.xls not found.
File cty_pop/NJOCEA1POP.xls not found.
File cty_pop/NJMORR1POP.xls not found.
File cty_pop/NJSOME1POP.xls not found.
File cty_pop/CTFAIR1POP.xls not found.
File cty_pop/CTNEWH1POP.xls not found.
File cty_pop/NYNEWY2POP.xls not found.
File cty_pop/NYKING2POP.xls not found.
File cty_pop/NYBRON2POP.xls not found.
File cty_pop/NYRICH2POP.xls not found.
File cty_pop/NYQUEE2POP.xls not found.
File cty_pop/NJHUDS2POP.xls not found.
File cty_pop/NJBERG2POP.xls not found.
File cty_pop/NJESSE2POP.xls not found.
File cty_pop/NJUNIO2POP.xls not found.
File cty_pop/NJMONM2POP.xls not found.
File cty_pop/NJOCEA2POP.xls not found.
File cty_pop/NJPASS2POP.xls not found.
File cty_pop/NJMORR2POP.xls not found.
File cty_pop/NJSOME2POP.xls not found.
File cty_pop/CTFAIR2POP.xls not found.
File cty_pop/CTNEWH2POP.xls not found.
File cty_pop/NYNEWY3POP.xls not found.
File cty_pop/NYKING3POP.xls not found.
File cty_pop/NYBRON3POP.xls not found.
File cty_pop/NYRICH3POP.xls not found.
File cty_pop/NYQUEE3POP.xls not found.
File cty_pop/NJHUDS3POP.xls not found.
File cty_pop/NJBERG3POP.xls not found.
File cty_pop/NJUNIO3POP.xls not found.
File cty_pop/NJMIDD3POP.xls not found.
File cty_pop/NJOCEA3POP.xls not found.
File cty_pop/NJPASS3POP.xls not found.
File cty_pop/NJMORR3POP.xls not found.
File cty_pop/NJSOME3POP.xls not found.
File cty_pop/CTFAIR3POP.xls not found.
File cty_pop/CTNEWH3POP.xls not found.
File cty_pop/NYNEWY4POP.xls not found.
File cty_pop/NYKING4POP.xls not found.
File cty_pop/NYBRON4POP.xls not found.
File cty_pop/NYRICH4POP.xls not found.
File cty_pop/NYQUEE4POP.xls not found.
File cty_pop/NJHUDS4POP.xls not found.
File cty_pop/NJBERG4POP.xls not found.
File cty_pop/NJESSE4POP.xls not found.
File cty_pop/NJUNIO4POP.xls not found.
File cty_pop/NJMIDD4POP.xls not found.
File cty_pop/NJMONM4POP.xls not found.
File cty_pop/NJOCEA4POP.xls not found.
File cty_pop/NJPASS4POP.xls not found.
File cty_pop/NJMORR4POP.xls not found.
File cty_pop/NJSOME4POP.xls not found.
File cty_pop/CTFAIR4POP.xls not found.
File cty_pop/CTNEWH4POP.xls not found.
File cty_pop/NYNEWY5POP.xls not found.
File cty_pop/NYKING5POP.xls not found.
File cty_pop/NYQUEE5POP.xls not found.
File cty_pop/NJHUDS5POP.xls not found.
File cty_pop/NJESSE5POP.xls not found.
File cty_pop/NJUNIO5POP.xls not found.
File cty_pop/NJMIDD5POP.xls not found.
File cty_pop/NJMONM5POP.xls not found.
File cty_pop/NJPASS5POP.xls not found.
File cty_pop/NJSOME5POP.xls not found.
File cty_pop/CTFAIR5POP.xls not found.
File cty_pop/CTNEWH5POP.xls not found.
File cty_pop/NYNEWY6POP.xls not found.
File cty_pop/NYKING6POP.xls not found.
File cty_pop/NYBRON6POP.xls not found.
File cty_pop/NYRICH6POP.xls not found.
File cty_pop/NYQUEE6POP.xls not found.
File cty_pop/NJHUDS6POP.xls not found.
File cty_pop/NJBERG6POP.xls not found.
File cty_pop/NJESSE6POP.xls not found.
File cty_pop/NJUNIO6POP.xls not found.
File cty_pop/NJMIDD6POP.xls not found.
File cty_pop/NJMONM6POP.xls not found.
File cty_pop/NJOCEA6POP.xls not found.
File cty_pop/NJPASS6POP.xls not found.
File cty_pop/NJMORR6POP.xls not found.
File cty_pop/NJSOME6POP.xls not found.
File cty_pop/CTFAIR6POP.xls not found.
File cty_pop/CTNEWH6POP.xls not found.
File cty_pop/NYNEWY7POP.xls not found.
File cty_pop/NYBRON7POP.xls not found.
File cty_pop/NYRICH7POP.xls not found.
File cty_pop/NYQUEE7POP.xls not found.
File cty_pop/NJBERG7POP.xls not found.
File cty_pop/NJESSE7POP.xls not found.
File cty_pop/NJUNIO7POP.xls not found.
File cty_pop/NJMIDD7POP.xls not found.
File cty_pop/NJMONM7POP.xls not found.
File cty_pop/NJOCEA7POP.xls not found.
File cty_pop/NJPASS7POP.xls not found.
File cty_pop/NJMORR7POP.xls not found.
File cty_pop/NJSOME7POP.xls not found.
File cty_pop/CTFAIR7POP.xls not found.
File cty_pop/CTNEWH7POP.xls not found.
File cty_pop/NYNEWY8POP.xls not found.
File cty_pop/NYKING8POP.xls not found.
File cty_pop/NYBRON8POP.xls not found.
File cty_pop/NYRICH8POP.xls not found.
File cty_pop/NYQUEE8POP.xls not found.
File cty_pop/NJHUDS8POP.xls not found.
File cty_pop/NJBERG8POP.xls not found.
File cty_pop/NJESSE8POP.xls not found.
File cty_pop/NJUNIO8POP.xls not found.
File cty_pop/NJMIDD8POP.xls not found.
File cty_pop/NJMONM8POP.xls not found.
File cty_pop/NJOCEA8POP.xls not found.
File cty_pop/NJPASS8POP.xls not found.
File cty_pop/NJMORR8POP.xls not found.
File cty_pop/NJSOME8POP.xls not found.
File cty_pop/CTFAIR8POP.xls not found.
File cty_pop/CTNEWH8POP.xls not found.
File cty_pop/NYNEWY9POP.xls not found.
File cty_pop/NYKING9POP.xls not found.
File cty_pop/NYBRON9POP.xls not found.
File cty_pop/NYRICH9POP.xls not found.
File cty_pop/NYQUEE9POP.xls not found.
File cty_pop/NJHUDS9POP.xls not found.
File cty_pop/NJBERG9POP.xls not found.
File cty_pop/NJESSE9POP.xls not found.
File cty_pop/NJMIDD9POP.xls not found.
File cty_pop/NJMONM9POP.xls not found.
File cty_pop/NJOCEA9POP.xls not found.
File cty_pop/NJPASS9POP.xls not found.
File cty_pop/NJMORR9POP.xls not found.
File cty_pop/NJSOME9POP.xls not found.
File cty_pop/CTFAIR9POP.xls not found.
File cty_pop/CTNEWH9POP.xls not found.

[0      262.243
 1      529.406
 2      802.278
 3     1082.473
 4     1369.538
 5     1663.308
 6     1962.267
 7     2264.548
 8     2570.850
 9     2880.187
 10    3192.362
 11    3507.064
 12    3824.514
 13    4144.808
 14    4467.404
 15    4793.285
 16    5117.405
 17    5443.682
 18    5771.144
 19    6100.196
 20    6429.574
 21    6759.256
 22    7089.259
 23    7419.909
 24    7750.681
 25    8080.679
 26    8425.433
 27    8771.931
 28    9118.978
 29    9467.820
 Name: Population, dtype: float64,
 0      1503.909
 1      3018.093
 2      4539.508
 3      6066.892
 4      7597.959
 5      9133.583
 6     10674.614
 7     12237.552
 8     13805.593
 9     15385.915
 10    16976.826
 11    18583.101
 12    20195.731
 13    21820.982
 14    23452.178
 15    25080.113
 16    26669.154
 17    28277.871
 18    29902.444
 19    31530.823
 20    33162.556
 21    34799.883
 22    36436.604
 23    38068.941
 24    39701.334
 25    41333.660
 26    43010.892
 27    44588.947
 28    46183.490
 29    47780.941
 Name: Population, dtype: float64,
 0      2047.884
 1      4122.465
 2      6227.985
 3      8366.488
 4     10541.471
 5     12750.446
 6     14980.124
 7     17214.655
 8     19454.040
 9     21698.278
 10    23948.996
 11    26205.572
 12    28470.233
 13    30748.012
 14    33037.037
 15    35344.316
 16    37578.890
 17    39834.151
 18    42106.071
 19    44392.859
 20    46691.093
 21    48996.345
 22    51302.594
 23    53597.820
 24    55873.106
 25    58127.048
 26    60515.912
 27    62844.920
 28    65123.478
 29    67375.674
 Name: Population, dtype: float64,
 0       478.164
 1       957.881
 2      1439.773
 3      1924.056
 4      2409.816
 5      2897.947
 6      3388.616
 7      3880.983
 8      4373.850
 9      4866.149
 10     5356.478
 11     5845.399
 12     6332.489
 13     6819.120
 14     7307.057
 15     7797.930
 16     8299.940
 17     8803.197
 18     9306.728
 19     9810.543
 20    10315.026
 21    10819.582
 22    11323.583
 23    11827.986
 24    12331.178
 25    12833.016
 26    13356.455
 27    13874.831
 28    14388.465
 29    14901.860
 Name: Population, dtype: float64,
 0       701.090
 1      1410.313
 2      2126.986
 3      2852.089
 4      3585.346
 5      4327.559
 6      5080.265
 7      5840.319
 8      6606.331
 9      7377.316
 10     8151.980
 11     8930.441
 12     9706.659
 13    10486.842
 14    11272.638
 15    12062.933
 16    12873.746
 17    13688.999
 18    14508.388
 19    15330.199
 20    16154.530
 21    16980.001
 22    17805.299
 23    18632.271
 24    19457.948
 25    20282.342
 26    21143.750
 27    22006.114
 28    22867.208
 29    23730.831
 Name: Population, dtype: float64,
 0       784.460
 1      1567.768
 2      2350.271
 3      3133.045
 4      3918.393
 5      4708.071
 6      5500.248
 7      6293.099
 8      7085.823
 9      7876.463
 10     8661.395
 11     9439.536
 12    10210.630
 13    10978.492
 14    11744.187
 15    12512.225
 16    13296.242
 17    14081.818
 18    14866.910
 19    15653.595
 20    16442.391
 21    17232.937
 22    18026.010
 23    18823.232
 24    19623.762
 25    20425.924
 26    21285.898
 27    22140.131
 28    22989.855
 29    23840.972
 Name: Population, dtype: float64,
 0       577.069
 1      1160.968
 2      1750.614
 3      2347.134
 4      2950.184
 5      3560.995
 6      4177.988
 7      4801.965
 8      5432.597
 9      6068.765
 10     6708.776
 11     7350.599
 12     7991.657
 13     8632.638
 14     9274.467
 15     9917.724
 16    10548.178
 17    11177.322
 18    11805.004
 19    12431.968
 20    13057.549
 21    13681.729
 22    14304.784
 23    14926.906
 24    15547.765
 25    16167.452
 26    16810.288
 27    17456.805
 28    18101.033
 29    18743.832
 Name: Population, dtype: float64,
 0      1250.789
 1      2512.853
 2      3785.546
 3      5071.229
 4      6372.052
 5      7689.947
 6      9023.287
 7     10364.067
 8     11712.085
 9     13065.619
 10    14424.669
 11    15789.235
 12    17160.588
 13    18545.710
 14    19934.843
 15    21331.091
 16    22718.020
 17    24114.974
 18    25526.061
 19    26947.559
 20    28378.033
 21    29817.513
 22    31261.191
 23    32701.147
 24    34133.463
 25    35551.650
 26    37012.801
 27    38436.885
 28    39818.693
 29    41175.169
 Name: Population, dtype: float64,
 0       406.208
 1       815.808
 2      1230.289
 3      1651.014
 4      2079.966
 5      2517.780
 6      2963.186
 7      3416.392
 8      3876.854
 9      4343.889
 10     4815.274
 11     5290.288
 12     5769.164
 13     6252.018
 14     6739.250
 15     7230.028
 16     7699.635
 17     8170.649
 18     8641.246
 19     9113.029
 20     9584.928
 21    10057.229
 22    10531.389
 23    11007.208
 24    11483.739
 25    11959.880
 26    12454.478
 27    12948.025
 28    13439.383
 29    13930.070
 Name: Population, dtype: float64,
 0       848.392
 1      1703.634
 2      2565.682
 3      3434.579
 4      4309.629
 5      5189.854
 6      6075.130
 7      6963.429
 8      7853.033
 9      8743.484
 10     9634.143
 11    10521.935
 12    11406.875
 13    12293.059
 14    13183.441
 15    14078.394
 16    14984.687
 17    15896.711
 18    16813.010
 19    17733.031
 20    18656.506
 21    19582.987
 22    20511.368
 23    21443.817
 24    22376.714
 25    23308.970
 26    24262.660
 27    25218.043
 28    26171.583
 29    27129.319
 Name: Population, dtype: float64,
 0       461.152
 1       932.395
 2      1413.003
 3      1901.522
 4      2398.917
 5      2902.924
 6      3416.609
 7      3940.267
 8      4476.833
 9      5022.495
 10     5574.388
 11     6131.025
 12     6692.863
 13     7258.707
 14     7828.578
 15     8401.928
 16     8979.502
 17     9558.424
 18    10138.437
 19    10720.603
 20    11305.166
 21    11892.404
 22    12483.546
 23    13079.110
 24    13680.759
 25    14288.257
 26    14926.722
 27    15576.547
 28    16232.210
 29    16891.407
 Name: Population, dtype: float64,
 0       439.533
 1       884.841
 2      1335.657
 3      1792.618
 4      2254.881
 5      2722.559
 6      3193.919
 7      3667.061
 8      4143.540
 9      4623.316
 10     5105.496
 11     5588.597
 12     6073.225
 13     6558.571
 14     7045.144
 15     7532.547
 16     8025.170
 17     8519.971
 18     9015.594
 19     9511.644
 20    10006.575
 21    10500.945
 22    10994.776
 23    11488.770
 24    11981.854
 25    12473.431
 26    12981.870
 27    13492.483
 28    14003.702
 29    14518.125
 Name: Population, dtype: float64,
 0      2361.668
 1      4734.279
 2      7117.982
 3      9519.130
 4     11941.564
 5     14388.916
 6     16854.670
 7     19326.227
 8     21803.588
 9     24286.752
 10    26784.611
 11    29296.019
 12    31819.066
 13    34358.272
 14    36908.946
 15    39479.246
 16    41989.200
 17    44530.118
 18    47098.656
 19    49686.415
 20    52287.942
 21    54896.739
 22    57504.885
 23    60099.242
 24    62679.330
 25    65241.659
 26    67960.106
 27    70597.628
 28    73187.159
 29    75748.384
 Name: Population, dtype: float64,
 0       572.720
 1      1151.609
 2      1736.665
 3      2329.477
 4      2927.715
 5      3531.708
 6      4141.153
 7      4753.583
 8      5361.495
 9      5965.150
 10     6564.943
 11     7161.186
 12     7752.884
 13     8341.630
 14     8932.914
 15     9529.637
 16    10165.285
 17    10810.943
 18    11463.316
 19    12120.417
 20    12780.729
 21    13445.324
 22    14113.997
 23    14786.855
 24    15459.245
 25    16133.275
 26    16855.154
 27    17558.602
 28    18260.983
 29    18966.455
 Name: Population, dtype: float64,
 0       504.864
 1      1012.294
 2      1523.286
 3      2037.151
 4      2554.866
 5      3075.207
 6      3598.278
 7      4123.588
 8      4649.539
 9      5174.595
 10     5697.955
 11     6219.586
 12     6739.321
 13     7258.367
 14     7779.384
 15     8304.624
 16     8841.960
 17     9381.878
 18     9924.855
 19    10470.906
 20    11018.958
 21    11568.912
 22    12121.726
 23    12676.421
 24    13232.896
 25    13789.560
 26    14363.220
 27    14936.053
 28    15506.470
 29    16079.196
 Name: Population, dtype: float64]

In [2]:
def concatenate_dfs(ua, numbers):
    df_list = []
    for number in numbers:
        for cty in ua:
            try:
                county_pop = pd.read_excel(f'cty_pop/{cty}{number}POP.xls')
                county_pop = county_pop.iloc[34:]['Unnamed: 1'].reset_index(drop=True).to_frame().astype(float).rename(columns={'Unnamed: 1': 'Population'})['Population']
                df_list.append(county_pop)
            except FileNotFoundError:
                # print(f"File cty_pop/{cty}{number}POP.xls not found.")
                continue
    total_df = pd.concat(df_list, axis=1).sum(axis=1)
    return total_df

NYua = ['NYNEWY', 'NYKING', 'NYBRON', 'NYRICH', 'NYQUEE',
        'NJHUDS', 'NJBERG', 'NJESSE', 'NJUNIO', 'NJMIDD',
        'NJMONM', 'NJOCEA', 'NJPASS', 'NJMORR', 'NJSOME',
        'CTFAIR', 'CTNEWH']

numbers = np.arange(0,10)
total_df = concatenate_dfs(NYua, numbers)